/* source for code: https://www.w3schools.com/howto/howto_css_div_full_height.asp, was having difficulty making the div full screen. Had to add html tag in css... For some reason */
html, body{
    height: 100%;
}
.container{
    /* margin: auto; */
    height: 100%;
    position: relative;
}
.north{
    /* background-color: red; */
    max-width: 80%;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
}
/* Source: https://stackoverflow.com/questions/526035/how-can-i-position-my-div-at-the-bottom-of-its-container for getting .south to diplay on the bottom of the container*/
.south{
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
} 
.east{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    float: right;
}
.west{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 20%;
    height: 60%;
    float: left;
    text-align: right;
}
button{
    margin-left: 500px;
    margin-top: 500px;
}
body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
/* Gets the card images to display in the div all in a row.*/
/* https://stackoverflow.com/questions/10989238/center-image-horizontally-within-a-div This post on stack overflow really helped me understand how to get the images to align in the center of the div in the way I wanted them to. */
.playerCard{
    /* margin: auto; */
    width: 7%;
    display: inline-block;
    margin: auto;
}
/* https://codepen.io/mrcow/pen/hGHsg I am linking this as it helped me to understand that a negative value translated upwards */
.playerCard:hover{
    transform: translate(10px, -10%);
}